@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook.eot');
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook.woff2') format('woff2'),
        url('BebasNeueBook.woff') format('woff'),
        url('BebasNeueBook.ttf') format('truetype'),
        url('BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular.eot');
    src: local('BebasNeueRegular'),
        url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular.woff2') format('woff2'),
        url('BebasNeueRegular.woff') format('woff'),
        url('BebasNeueRegular.ttf') format('truetype'),
        url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin.woff2') format('woff2'),
        url('BebasNeue-Thin.woff') format('woff'),
        url('BebasNeue-Thin.ttf') format('truetype'),
        url('BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin_1.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('BebasNeue-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_1.woff2') format('woff2'),
        url('BebasNeue-Thin_1.woff') format('woff'),
        url('BebasNeue-Thin_1.ttf') format('truetype'),
        url('BebasNeue-Thin_1.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold.eot');
    src: local('BebasNeueBold'),
        url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold.woff2') format('woff2'),
        url('BebasNeueBold.woff') format('woff'),
        url('BebasNeueBold.ttf') format('truetype'),
        url('BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular_1.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('BebasNeueRegular_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_1.woff2') format('woff2'),
        url('BebasNeueRegular_1.woff') format('woff'),
        url('BebasNeueRegular_1.ttf') format('truetype'),
        url('BebasNeueRegular_1.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold_1.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('BebasNeueBold_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_1.woff2') format('woff2'),
        url('BebasNeueBold_1.woff') format('woff'),
        url('BebasNeueBold_1.ttf') format('truetype'),
        url('BebasNeueBold_1.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight.eot');
    src: local('Bebas Neue Light'), local('BebasNeueLight'),
        url('BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight.woff2') format('woff2'),
        url('BebasNeueLight.woff') format('woff'),
        url('BebasNeueLight.ttf') format('truetype'),
        url('BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook_1.eot');
    src: local('BebasNeueBook'),
        url('BebasNeueBook_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook_1.woff2') format('woff2'),
        url('BebasNeueBook_1.woff') format('woff'),
        url('BebasNeueBook_1.ttf') format('truetype'),
        url('BebasNeueBook_1.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight_1.eot');
    src: local('BebasNeueLight'),
        url('BebasNeueLight_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight_1.woff2') format('woff2'),
        url('BebasNeueLight_1.woff') format('woff'),
        url('BebasNeueLight_1.ttf') format('truetype'),
        url('BebasNeueLight_1.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular_2.eot');
    src: url('BebasNeueRegular_2.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_2.woff2') format('woff2'),
        url('BebasNeueRegular_2.woff') format('woff'),
        url('BebasNeueRegular_2.ttf') format('truetype'),
        url('BebasNeueRegular_2.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight_2.eot');
    src: url('BebasNeueLight_2.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight_2.woff2') format('woff2'),
        url('BebasNeueLight_2.woff') format('woff'),
        url('BebasNeueLight_2.ttf') format('truetype'),
        url('BebasNeueLight_2.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold_2.eot');
    src: url('BebasNeueBold_2.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_2.woff2') format('woff2'),
        url('BebasNeueBold_2.woff') format('woff'),
        url('BebasNeueBold_2.ttf') format('truetype'),
        url('BebasNeueBold_2.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook_2.eot');
    src: url('BebasNeueBook_2.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook_2.woff2') format('woff2'),
        url('BebasNeueBook_2.woff') format('woff'),
        url('BebasNeueBook_2.ttf') format('truetype'),
        url('BebasNeueBook_2.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin_2.eot');
    src: url('BebasNeue-Thin_2.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_2.woff2') format('woff2'),
        url('BebasNeue-Thin_2.woff') format('woff'),
        url('BebasNeue-Thin_2.ttf') format('truetype'),
        url('BebasNeue-Thin_2.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight_3.eot');
    src: url('BebasNeueLight_3.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight_3.woff2') format('woff2'),
        url('BebasNeueLight_3.woff') format('woff'),
        url('BebasNeueLight_3.ttf') format('truetype'),
        url('BebasNeueLight_3.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular_3.eot');
    src: url('BebasNeueRegular_3.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_3.woff2') format('woff2'),
        url('BebasNeueRegular_3.woff') format('woff'),
        url('BebasNeueRegular_3.ttf') format('truetype'),
        url('BebasNeueRegular_3.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold_3.eot');
    src: url('BebasNeueBold_3.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_3.woff2') format('woff2'),
        url('BebasNeueBold_3.woff') format('woff'),
        url('BebasNeueBold_3.ttf') format('truetype'),
        url('BebasNeueBold_3.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook_3.eot');
    src: url('BebasNeueBook_3.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook_3.woff2') format('woff2'),
        url('BebasNeueBook_3.woff') format('woff'),
        url('BebasNeueBook_3.ttf') format('truetype'),
        url('BebasNeueBook_3.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin_3.eot');
    src: url('BebasNeue-Thin_3.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_3.woff2') format('woff2'),
        url('BebasNeue-Thin_3.woff') format('woff'),
        url('BebasNeue-Thin_3.ttf') format('truetype'),
        url('BebasNeue-Thin_3.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook_4.eot');
    src: local('BebasNeueBook'),
        url('BebasNeueBook_4.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook_4.woff2') format('woff2'),
        url('BebasNeueBook_4.woff') format('woff'),
        url('BebasNeueBook_4.ttf') format('truetype'),
        url('BebasNeueBook_4.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook_5.eot');
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('BebasNeueBook_5.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook_5.woff2') format('woff2'),
        url('BebasNeueBook_5.woff') format('woff'),
        url('BebasNeueBook_5.ttf') format('truetype'),
        url('BebasNeueBook_5.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight_4.eot');
    src: local('Bebas Neue Light'), local('BebasNeueLight'),
        url('BebasNeueLight_4.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight_4.woff2') format('woff2'),
        url('BebasNeueLight_4.woff') format('woff'),
        url('BebasNeueLight_4.ttf') format('truetype'),
        url('BebasNeueLight_4.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin_4.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('BebasNeue-Thin_4.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_4.woff2') format('woff2'),
        url('BebasNeue-Thin_4.woff') format('woff'),
        url('BebasNeue-Thin_4.ttf') format('truetype'),
        url('BebasNeue-Thin_4.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin_5.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('BebasNeue-Thin_5.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_5.woff2') format('woff2'),
        url('BebasNeue-Thin_5.woff') format('woff'),
        url('BebasNeue-Thin_5.ttf') format('truetype'),
        url('BebasNeue-Thin_5.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular_4.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('BebasNeueRegular_4.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_4.woff2') format('woff2'),
        url('BebasNeueRegular_4.woff') format('woff'),
        url('BebasNeueRegular_4.ttf') format('truetype'),
        url('BebasNeueRegular_4.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight_5.eot');
    src: local('BebasNeueLight'),
        url('BebasNeueLight_5.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight_5.woff2') format('woff2'),
        url('BebasNeueLight_5.woff') format('woff'),
        url('BebasNeueLight_5.ttf') format('truetype'),
        url('BebasNeueLight_5.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular_5.eot');
    src: local('BebasNeueRegular'),
        url('BebasNeueRegular_5.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_5.woff2') format('woff2'),
        url('BebasNeueRegular_5.woff') format('woff'),
        url('BebasNeueRegular_5.ttf') format('truetype'),
        url('BebasNeueRegular_5.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold_4.eot');
    src: local('BebasNeueBold'),
        url('BebasNeueBold_4.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_4.woff2') format('woff2'),
        url('BebasNeueBold_4.woff') format('woff'),
        url('BebasNeueBold_4.ttf') format('truetype'),
        url('BebasNeueBold_4.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold_5.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('BebasNeueBold_5.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_5.woff2') format('woff2'),
        url('BebasNeueBold_5.woff') format('woff'),
        url('BebasNeueBold_5.ttf') format('truetype'),
        url('BebasNeueBold_5.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin_6.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('BebasNeue-Thin_6.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_6.woff2') format('woff2'),
        url('BebasNeue-Thin_6.woff') format('woff'),
        url('BebasNeue-Thin_6.ttf') format('truetype'),
        url('BebasNeue-Thin_6.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook_6.eot');
    src: local('BebasNeueBook'),
        url('BebasNeueBook_6.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook_6.woff2') format('woff2'),
        url('BebasNeueBook_6.woff') format('woff'),
        url('BebasNeueBook_6.ttf') format('truetype'),
        url('BebasNeueBook_6.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold_6.eot');
    src: local('BebasNeueBold'),
        url('BebasNeueBold_6.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_6.woff2') format('woff2'),
        url('BebasNeueBold_6.woff') format('woff'),
        url('BebasNeueBold_6.ttf') format('truetype'),
        url('BebasNeueBold_6.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('BebasNeue-Thin_7.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('BebasNeue-Thin_7.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_7.woff2') format('woff2'),
        url('BebasNeue-Thin_7.woff') format('woff'),
        url('BebasNeue-Thin_7.ttf') format('truetype'),
        url('BebasNeue-Thin_7.svg#BebasNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular_6.eot');
    src: local('BebasNeueRegular'),
        url('BebasNeueRegular_6.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_6.woff2') format('woff2'),
        url('BebasNeueRegular_6.woff') format('woff'),
        url('BebasNeueRegular_6.ttf') format('truetype'),
        url('BebasNeueRegular_6.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('BebasNeueBook_7.eot');
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('BebasNeueBook_7.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook_7.woff2') format('woff2'),
        url('BebasNeueBook_7.woff') format('woff'),
        url('BebasNeueBook_7.ttf') format('truetype'),
        url('BebasNeueBook_7.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeueRegular_7.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('BebasNeueRegular_7.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_7.woff2') format('woff2'),
        url('BebasNeueRegular_7.woff') format('woff'),
        url('BebasNeueRegular_7.ttf') format('truetype'),
        url('BebasNeueRegular_7.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight_6.eot');
    src: local('Bebas Neue Light'), local('BebasNeueLight'),
        url('BebasNeueLight_6.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight_6.woff2') format('woff2'),
        url('BebasNeueLight_6.woff') format('woff'),
        url('BebasNeueLight_6.ttf') format('truetype'),
        url('BebasNeueLight_6.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('BebasNeueBold_7.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('BebasNeueBold_7.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_7.woff2') format('woff2'),
        url('BebasNeueBold_7.woff') format('woff'),
        url('BebasNeueBold_7.ttf') format('truetype'),
        url('BebasNeueBold_7.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('BebasNeueLight_7.eot');
    src: local('BebasNeueLight'),
        url('BebasNeueLight_7.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight_7.woff2') format('woff2'),
        url('BebasNeueLight_7.woff') format('woff'),
        url('BebasNeueLight_7.ttf') format('truetype'),
        url('BebasNeueLight_7.svg#BebasNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

